*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #d2fbf7;
}

.triangle-red{
    color: #d3a4b7;
}

.triangle-blue{
    color: #9597fa;
    margin-top: 10px;
}
