*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
    text-align: center;
}

body{
    background-color: #d2fbf7;
}

/* header */
.triangle-red{
    color: #d3a4b7;
}

.triangle-blue{
    color: #9597fa;
    margin-top: 10px;
}
/* main */
.title{
    
    font-size: 80px;
    font-weight: 500;
    color: blue;
    border: 15px solid blue;
    width: 650px;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
}

.text{
    font-size: 50px;
    font-weight: 500; 
    width: 800px;
    margin: auto;
    line-height: 50px;
    color: #d42257;
    padding-top: 50px;
}
